* {
    box-sizing: border-box;
  }
  

.imagen-worms {
    height: 50px;
    width: 300px;
    align-content: center;
}
.container {
    text-align: center;
    background: red;
    border: green 5px solid;
}
p {
    font-weight: bold;
}
#barra {
    background: blue;
    width: 100%;
    height: 10px;
}
.header1 {
    float:left;
    border: black 3px solid;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.article1 {
    /*overflow:auto; /*el borde se ajusta al contenido automaticamente*/
    height: 430px;
    float: left;
    width: 75%;
    border: green 3px solid;
    text-align: center;
    padding: 10px;
    
}
.section1 {
 
    border: red 3px solid;
    background-color: silver;
    width: 90%;
    height: 120px;
    margin: 0 auto;    
    /*clear:left;*/
    
    /*text-align: center;*/
   /* padding-top: 5%;*/
}
.section2 {
 
    border: red 3px solid;
    background-color: silver;
    width: 90%;
    height: 220px;
    margin: 0 auto;    
    /*clear:left;*/
    
    /*text-align: center;*/
   /* padding-top: 5%;*/
}
.footer1 {
    border: blue 3px solid;
    width: 100%;
    height: 130px;
    text-align: center;
    float: left;
}

/*asdadadsd*/

nav {
    float: left;
    width: 25%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }

.titulo1 {
    color: steelblue;
    font-size: large;
    position: relative;
    width: 85%;
    text-align: center;

}
.inicio1 {
    
    width: 15%;
    text-align: center;


}
