* {
    box-sizing: border-box;
  }
  

.imagen-worms {
    height: 50px;
    width: 300px;
    align-content: center;
}
.container {
    text-align: center;
    background: red;
    border: green 5px solid;
}
p {
    font-weight: bold;
}
#barra {
    background: blue;
    width: 100%;
    height: 10px;
}
.header1 {
    border: black 3px solid;
    width: 100%;
    height: 80px;
    text-align: center;
}
.article1 {
    overflow:auto; /*el borde se ajusta al contenido automaticamente*/
    border: green 3px solid;
    text-align: center;
    padding: 30px;
    
}
.section1 {
    float: right;
    border: red 3px solid;
    background-color: silver;
    width: 74%;
    height: 120px;
    margin: 5px;
    /*clear:left;*/
    
    /*text-align: center;*/
   /* padding-top: 5%;*/
}
.footer1 {
    border: blue 3px solid;
    width: 100%;
    height: 130px;
    text-align: center;
}

/*asdadadsd*/

nav {
    float: left;
    width: 25%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
