* {
    box-sizing: border-box;
  }
  

.imagen-worms {
    height: 50px;
    width: 300px;
    align-content: center;
}
.container {
    text-align: center;
    background: red;
    border: green 5px solid;
}
p {
    font-weight: bold;
}
#barra {
    background: blue;
    width: 100%;
    height: 10px;
}
.header1 {
    float:left;
    background-color: cadetblue;
    opacity: ;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.article1 {
    /*overflow:auto; /*el borde se ajusta al contenido automaticamente*/
    height: 430px;
    float: left;
    width: 75%;
    background-color: #dee8e9;
    text-align: center;
    padding: 10px;
    
}
.section1 {
 
    background-color: silver;
    border-radius: 10px;
    color: rgb(25, 77, 78);
    width: 90%;
    height: 120px;
    margin: 10px auto;    
    padding: 10px;
    /*clear:left;*/
    
    /*text-align: center;*/
   /* padding-top: 5%;*/
}
.section2 {
 
    border-radius: 10px;
    background-color: silver;
    color: rgb(25, 77, 78);
    width: 90%;
    height: 240px;
    margin: 10px auto;    
    padding: 10px;  
    /*clear:left;*/
    
    /*text-align: center;*/
   /* padding-top: 5%;*/
}
.footer1 {
    background-color: cadetblue;
    color: ghostwhite;
    width: 100%;
    height: 130px;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*asdadadsd*/

nav {
    float: left;
    width: 25%;
    height: 430px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    margin: 0 auto;
    
  }

.titulo1 {
    color: ghostwhite;
    font-family: fantasy;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2px;
    position: relative;
    width: 85%;
    text-align: center;

}
.inicio1 {
    
    width: 15%;
    text-align: center;


}
.boton1 {
    background-color: rgb(156, 150, 150);
    border-radius: 10px;
    font-family: fantasy;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    color: rgb(227, 227, 238);
    height: 50px;
    width: 80%;
    margin: 15px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo1 {
    width: 140px;
    height: 80px;
    object-fit: cover;
    margin-left: 100px;
}
